.container.mt-5
    .row
        .col-md-3.text-center#admin-btns
            button.btn.btn-warning#btn-listaUsuarios Listar Usuarios
            button.btn.btn-warning#btn-nuevoUsuario Añadir nuevo Usuario
        .col-md-9
