extends ../layout/index
block contenido
    .container.p-3
        .row
            .col-12
                h1.text-center Protección de datos
                p #[strong] Responsable:
                p El propietario de la web. #[a(href="mailto:jesus.abrilm@gmail.com") jesus(punto)abril(arroba)gmail(punto)com]
                p Trataremos la información que nos facilita con el fin de prestarles el servicio solicitado. Todos los datos solicitados son estrictamente necesarios para la prestación del servicio, incluyendo la existencia de posibles decisiones automatizadas, no elaborando perfiles en ningún caso. Sus datos personales #[strong no] van a ser almacenados en ningún sitio: 
                p Formularios de Contacto Web. Los datos proporcionados se conservarán mientras se mantenga la relación comercial o durante los años necesarios para cumplir con las obligaciones legales. Los datos no se cederán a terceros salvo en los casos en que exista una obligación legal y para la prestación de los servicios ofertados, así haya que hacerlo.
                p Así mismo, nos ajustamos a las condiciones que estable el Decreto 9/2003, de 28 de enero, por el que se regulan la actividad industrial y la prestación de servicios en los talleres de reparación y mantenimiento de vehículos automóviles y se articulan derechos de los consumidores y usuarios, el Real Decreto 455/2010, de 16 de abril, por el que se modifica el Real Decreto 1457/1986, de 10 de enero, por el que se regulan la actividad industrial y la prestación de servicios en los talleres de reparación de vehículos automóviles, de sus equipos y componentes”.
                p Usted tiene derecho a obtener confirmación sobre si en nuestra web estamos tratando sus datos personales,  por tanto tiene derecho a acceder a sus datos personales, rectificar los datos inexactos o solicitar su supresión cuando los datos ya no sean necesarios, así como el derecho a la limitación u oposición a su tratamiento, portabilidad de sus datos y retirar el consentimiento aceptado al tratamiento de sus datos e incluso interponer reclamación ante la Agencia Española de Protección de Datos.
                p En lo referente a comunicaciones comerciales, nuestra web se compromete a NO REMITIR COMUNICACIONES COMERCIALES SIN IDENTIFICARLAS COMO TALES, conforme a lo dispuesto en la Ley 34/2002 de Servicios de la Sociedad de la Información y de Comercio Electrónico. No será considerado como comunicación comercial toda la información que se envíe al Usuario del portal  siempre que tenga por finalidad el mantenimiento de la relación contractual existente entre usuario y el propietario de la web, así como el desempeño de las tareas de información, formación y otras actividades propias del servicio que el cliente/usuario tiene contratado con la Entidad.
                p El propietario de la web se compromete a través de este medio a NO REALIZAR PUBLICIDAD ENGAÑOSA. A estos efectos, por lo tanto, no serán considerados como publicidad engañosa los errores formales o numéricos que puedan encontrarse a lo largo del contenido de las distintas secciones de la web, producidos como consecuencia de un mantenimiento y/o actualización incompleta o defectuosa de la información contenida es estas secciones. Como consecuencia de lo dispuesto en este apartado, se compromete a corregirlo tan pronto como tenga conocimiento de dichos errores.
        .row
            .col-12#politica-cookies
                h1 Políticas de cookies
                p Este sitio Web utiliza cookies y/o tecnologías similares que almacenan y recuperan información cuando navegas. En general estas tecnologías pueden servir para finalidades muy diversas como por ejemplo, reconocerte como usuario, obtener información sobre tus hábitos de navegación o personalizar la forma en que se muestra el contenido.
                p Tipos de Cookies:

                p Existen diferentes tipos de cookies, las cuales pueden ser clasificadas:

                p Según quién sea la entidad que gestione el equipo o dominio desde donde se envían las cookies y trate los datos que se obtengan:

                p Cookies necesarias: son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio gestionado por el propio editor y desde el que se presta el servicio solicitado por el usuario.

                p Cookies innecesarias : son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio que no es gestionado por el editor, sino por otra entidad que trata los datos obtenidos través de las cookies.

                p Tenga en cuenta que si acepta las cookies innecesarias, deberá eliminarlas desde las opciones del navegador.

                p Puede obtener más información sobre las cookies y su uso en #[a(href="www.aboutcookies.org") aboutcookies.org]

                h3 Cookies usadas en esta web
                p visto_politica_privacidad: cookie estrictamente necesaria que contiene el valor de si se ha aceptado la política de cooikes y privacidad. Caduca al año o cuando se ejerza una actualización en la política.
                p connect.sid: cookie estrictamente necesaria que contiene el valor de sesión del usuario.

                p Cookies de Análisis de Google Analitycs: cookie necesaria que monitoriza el comportamiento de los usuarios que visitan la Web utiliza las cookies para analizar los hábitos de navegación de los usuarios que acceden a los sitios web de sus clientes, recopilando información de forma anónima, sin identificar usuarios individuales.
                p Cookies de Facebook y Twitter: cookie necesaria para poder compartir las noticias en las redes sociales. Es posible que Facebook y Twitter, pueda crear una conexión directa con los sus servidores y transmitir los datos (identificador del navegador del usuario) sobre su comportamiento mediante la colocación de cookies.

                p Cookies de publicidad y terceros: cookies no necesarias que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios en esta web. Estas cookies almacenan información del comportamiento de los usuarios obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil específico para mostrar publicidad en función del mismo. En algunas de nuestras páginas se pueden instalar cookies de terceros que permitan gestionar y mejorar los servicios que éstos ofrecen.