extends ../deifontes/index
block contienente
    main.container-fluid.bg-blanco.p-3
        .row
            .col-sm-12
                h2 El legado histórico de Deifontes presenta huellas #[em íberas, romanas, nazaríes y cristianas].
            .col-sm-12.col-md-8.p-lg-5
                h2.text-dark Año 1038 - Legado Musulmán
                p "Posiblemente Dayfontes sea la antigua Alfunt, ciudad del manantial, donde las crónicas cuentan que aquí se produjo la batalla que anexionaría Almería al Reino de Granada. Esto ocurre cuando en junio de 1038 muere el rey zirí Habus siendo su sucesor su hijo Badis que tuvo como visir al notable militar y poeta judío Samuel Ibn Negrella, único visir judío que tuvo la corte granadina. El rey almeriense Zuhayr al enterarse de la posible debilidad del reino de Badis decide plantarse a las puertas de Granada con intención de añadir la ciudad a sus dominios, pasando todo lo contrario ya que Badis vence en la batalla al ejército almeriense."
                p Sería la referencia más antigua oficialmente, en los textos antiguos era un lugar llamado como Daifontes o Dayfonte, que unos hacen venir de deus y fontes, las fuentes de Dios, y otros, probablemente con más acierto, de dar y al-font.
                blockquote.blockquote
                    p La clara alusión latina a la "fuente" cuya correspondencia es el conocido "Nacimiento" de agua, se puede decir que es único en esta zona. Esto nos hace pensar que debió existir una población autóctona mucho anterior a la invasión musulmana.
                p Con precedentes de ocupación humana de época neolítica e ibérica, según demuestran los restos arqueológicos localizados en la zona de las Erillas de entre 3000 y 4000 años de antigüedad, la presencia romana se pone de manifiesto en la Venta del Nacimiento, donde pudo existir un templo o ninfeo dedicado a las divinidades del agua. (los cuales se encuentran actualmente en el museo arqueológico de Granada)
                p Alimentada por sus manantiales y surgencias, la población se consolidaría durante la Edad Media musulmana, que durante esta época, Deifontes perteneció al reino de Granada y se vio envuelta en cantidad de tropelías y escaramuzas al estar situada en la zona fronteriza entre los dos reinos.
                h2.text-dark Siglo XIV
                p A las afueras de Deifontes, y en plena sierra de Arana, a una altitud de 1160 metros, se encuentra la Atalaya, único punto defensivo que poseía, construida en el siglo XIV, y de vital importancia para la vigilancia de los territorios ocupados por los musulmanes en las tareas defensivas, ante el avance de los cristianos. 
                blockquote.blockquote 
                    p En todos los documentos existentes desde 1442, se le llamó "cortijo de Dayfontes" que significa "donde hay fuentes". Con anterioridad a la conquista del reino de Granada lo que hoy día es el nucleo del pueblo partió de una antigua casa nazarita que aún existe, que es "la casa grande".
                p Desde la Atalaya hay visión directa con otros dos elementos defensivos del reino nazarí, por un lado el Castillo de Moclín, la llave para la entrada al reino de Granada, y por otro lado el torreón de Albolote, que a su vez tiene visión directa con la Alhambra. De esta forma y a través de señales de humo o por espejos los vigías y centinelas se comunicaban de una torre a otra y daban las instrucciones pertinentes.
                h2.text-dark Año 1485 - Legado Cristiano
                p Deifontes era una alquería musulmana, conquistada por los cristianos en el año 1485, y que fue habitada por moriscos hasta el año 1570 cuando fueron expulsados y Deifontes significaba "diez fuentes o manantiales de Dios", pues su manantial daba agua no sólo al pueblo sino a gran parte de la Comarca, donde ya los romanos construyeron una gran acequia, la llamada "primera acequia de la Vega de Granada" y que abastecía de agua gran parte de la vega granadina.
                blockquote.blockquote
                    p La compra de las Alcabalas de la Hacienda de Dayfontes y el cortijo de los "Praos"
                p Un complicado trato entre el Sacromonte, la Corona, la Hacienda Pública y el 24 de Mayo de 1609 en Granada Alvar Gómez Ponce de León (judío de apellidos blanqueados, que era el alcabalero de ambos cortijos) que posteriori pasó a pertenecer a la Abadía del Sacromonte de Valparayso cuando firmaron en 1611.
                p El lugar -unido desde la Reconquista a dar Alcudia (cortijo de los Prados), perteneció a Yusuf IV, suegro de Boabdil, que legó cien fanegas a su hija Esquivilia Nayyara. 13 moriscos fueron propietarios de 111,5 fanegas hasta 1570, aunque posiblemente quedaron los que no participaron en la rebelión hasta 1609 y 1611 cuando el Corregidor de Granada logró reunir el ultimo embarque a tierras del África.
                p El documento se emitió en Madrid en 1620 a causa de una "puesta en limpio de la Hacienda", a causa de una reclamación del Sacromonte sobre una cuantía de alcabalas que se había perdido en 1614, permaneciendo bajo su propiedad hasta la desamortización de Madoz en el año 1.855.
                h2.text-dark año 1.855
                p Al año siguiente, comenzaron las subastas que terminaría cuatro o cinco años mas tarde, puesto que los licitantes debían pagar al contado, y el Estado revertiría a cambio a la Institución, deuda Pública al cinco por ciento de rentabilidad. Pau Llansol, un joven comerciante de Granada de origen valenciano, pujó a partir del segundo lote, (El del vado sería el primero, pero por alguna causa se le escapó) y como era el preceptor de la joven María Josefa Perez de Herrasti, a la sazón menor de edad, todo pasaría posteriormente a la citada muchacha, que casó con su primo Isidor, Conde de Antillón. 
                p En 1864, al matrimonio le nacerían cinco hijos; Antonio, Isidoro, María del Carmen y Joaquina, y otra hija de la que no se sabe apenas nada. Siguiendo la costumbre del país vasco, sería una hija la que heredaría la hacienda.
                h2.text-dark Siglo XIX
                p Joaquina, que contrajo matrimonio con el militar #[strong Antonio Díez de Ribera y Muro, marqués de Casablanca], que falleció en 1935 y no tuvieron descendencia, y cuando falleció Joaquina en 1942, sería el heredero de todo, el Marqués de Albayda, hijo de su hermano Antonio que falleció a los 42 años de edad. 
                h2.text-dark La compra
                p En el año 1944 se llevó a cabo la compra del pueblo de Deifontes por los habitantes del mismo que hasta entonces lo venían labrando en régimen de arrendamiento. Pues el pueblo era propiedad del la Marquesa de Casablanca y al morir esta en 1942 lo heredó un sobrino, el Marqués de Albaida que fue quien lo puso en venta.
                p Tras vencer muchas dificultades, para poder llevar a cabo dicha compra (pues los labradores no disponían de medios económicos para realizarla) se desplazaron a Madrid una delegación de labradores capitaneados por el párroco #[strong Don Francisco Pérez Muñoz], que quiso empezar por pedir a San Isidro su intercesión y ayuda para conseguir los creditos del Estado, necesarios para llevar a cabo dicha compra, haciéndole la promesa al Santo de “que si lo conseguían, comprarían una imagen del santo y le construirían una pequeña ermita." 
                p Desde su compra, y la creación de la ermita, se celebra su adquisición en un festejo #[strong día de San Isidro Labrador] y la virgen de Fátima.

            .col-sm-12.col-md-4.p-lg-5
                .col.p-md-3
                    img.img-fluid.shadow(src="/img/historia/habus.jpg", title="Zirí Habus", alt="Zirí Habus", loading="lazy")
                    p   
                        small Zirí Habus
                .col.p-3.p-md-3
                    img.img-fluid.shadow(src="/img/historia/reino_nazari.png", title="Reino de Granada", alt="Reino de Granada", loading="lazy")
                    p   
                        small Reino de Granada
                .col.p-3.p-md-3
                    img.img-fluid.shadow(src="/img/historia/atalaya.jpg", alt="Atalaya" title="Atalaya", loading="lazy")
                    p   
                        small Atalaya
                .col.p-3.p-md-3
                    img.img-fluid.shadow(src="/img/historia/legado-musulman.jpg", title="Espulsión de los moriscos" alt="Espulsión de los moriscos", loading="lazy")
                    p   
                        small Espulsión de los moriscos
                .col.p-3.p-md-3
                    img.img-fluid.shadow(src="/img/historia/compra-cortijo.jpg", title="Compra del cortijo los praos" alt="Compra del cortijo los praos", loading="lazy")
                    p   
                        small Compra del cortijo los praos
                .col.p-3.p-md-3
                    img.img-fluid.shadow(src="/img/historia/palacio.jpg", title="Casa Palacio Deifontes" alt="Casa Palacio Deifontes", loading="lazy")
                    p   
                        small Casa Palacio
                .col.p-3.p-md-3
                    img.img-fluid.shadow(src="/img/historia/dronePueblo.jpg", title="Deifontes desde el aire" alt="Casa Palacio Deifontes", loading="lazy")
                    p   
                        small Deifontes en la actualidada

        .row.p-3
            .col.my-2#linkLibro
                a(href="/docs/DEIFONTES_DONDE_EL_AGUA_NACE(adriano_navarro).pdf" download="DEIFONTES, Donde el agua nace. (Adriano Navarro).pdf")
                    h2 La historia al completo de nuestro pueblo la puedes descargar aquí
                p Por #[strong Adriano Navarro]
            