extends ../layout/index
block contenido
     include ../layout/partials/submenu-fiestas
     block continente
          .container
               .row
                    .col-12.text-center
                         h1 Pronto...
                         img.img-fluid(src="/img/enconstruccion.jpg", alt="")

                         
                    