extends index
block continente
    .container
        .row
            .col-12
                h1 titulo y texto abajo
        .row
            .col-12
                .card-group
                    .card
                        img.card-img-top(src='/img/palacio.jpg', alt='Card image cap')
                        .card-body
                            h3.card-title Fiestas Patronales
                            p.card-text
                                | Del 14 al 19 de Agosto, se celebran las fiestas mayores en las que destacan por su peculiaridad las competiciones de futbol, tiro al plato carrera de caballos... El día 15 de agosto se celebra el día de los patrones, el Santo Cristo de la Vera Cruz y la Virgen del Milagro.
                    .card
                        img.card-img-top(src='/img/palacio.jpg', alt='Card image cap')
                        .card-body
                            h3.card-title San Isidro
                            p.card-text Una de las fiestas más bonitas de nuestro pueblo. El 15 de Mayo se celebra la romería de San Isidro, se preparan las carrozas, se visten de flamencos y se hace una procesión hasta el nacimiento.
                            a.btn.btn-success.d-block(href="fiestas/sanisidro") Leer más
                    .card
                        img.card-img-top(src='/img/palacio.jpg', alt='Card image cap')
                        .card-body
                            h3.card-title Las Cruces
                            p.card-text
                                | Se hace a nivel de barrio o calle una cruz, en la que los vecinos participan incluso con premio a la mejor Cruz. 
            .col-12
                .card-group
                    .card
                        img.card-img-top(src='/img/palacio.jpg', alt='Card image cap')
                        .card-body
                            h3.card-title Las Candelarias
                            p.card-text
                                | El día 2 de Febrero en la que las fogatas en las plazas y calles del pueblo y el sellar las cerraduras de las puertas de entrada son las actividades desarrolladas durante esta noche mágica.
                    .card
                        img.card-img-top(src='/img/palacio.jpg', alt='Card image cap')
                        .card-body
                            h3.card-title Semana Santa
                            p.card-text
                                | Destaca "La embajá de San Juan", que se celebra el Viernes Santo en la plaza de Deifontes. Tiene lugar la salida de la Virgen de los Dolores a la plaza, y un vecino de Deifontes (por tradición familiar) recita mirando a la Virgen. Se hace procesión por las calles del pueblo.
                    .card
                        img.card-img-top(src='/img/palacio.jpg', alt='Card image cap')
                        .card-body
                            h3.card-title Las quintas
                            p.card-text
                                | Es una fiesta tradicional que antes se celebraba cuando los muchachos cumplían los 18 y debían pasar las pruebas médicas para prestar el servicio militar obligatorio, la mili. Ahora, aunque ya no van a la mili, se sigue celebrando porque es una tradición.
                            a.btn.btn-success.d-block(href="fiestas/lasquintas") Leer más
                