extends index
block continente
    .container
        .row.bg-blanco.my-3.p-0
            section#fiestas.col-md-12.p-0
                .imagen.shadow
                    img.img-fluid.rounded(src="/img/sanIsidro.jpg", alt="Fiestas de San Isidro en Deifontes")
                .texto
                    h2.text-right Romer칤a san isidro
                    p.card-text El #[strong 15 de Mayo] se celebra la romer칤a de San Isidro en honor a nuestro patr칩n. (Patr칩n de los agricultores).
                    p.card-text Con unos d칤as de anterioridad, nuestro patr칩n se traslada desde su ermita situada en el nacimiento a la iglesia de San Mart칤n sobre las 20:30h, donde descansar치 hasta su d칤a. 
                    p.card-tex #[em La tradici칩n ] consiste en vestir carrozas, coches, coches de caballos e incluso motos o bicicletas de "verde", (el forraje tipico para los animales, trigo, cebada...) y muchas flores. Se preparan para competir por unos premios que dedica el ayuntamiento.
                    p.card-text #[strong 9:00]. Comienza nuestra festividad con la t칤pica "despertada" de cochetes.游꾽
                    p.card-text #[strong 10:00]. Todo el pueblo ya vestido de festejo t칤pico para este d칤a (trajes de flamenco, vestidos de gitana) se comienzan a concentran delante de la iglesia para contemplar las carrozas, caballos etc... #[br] Aqu칤 comienza la festividad, los vecinos y vecinas lucen sus trajes, la musica de mano de la banda de musica de Deifontes comienza a sonar, las campanas a replicar y los m치s jovenes a cantar y bailar.
                    p.card-text #[strong 12:00]. Se celebra la misa en honor a nuestro patr칩n para pedirle que guarde por nosotros y traiga riqueza a nuestros campos.
                    p.card-text #[strong 13:00]. Seguidamente de la salida de misa, el alcalde y sus concejales eligir치n el ganador y entregar치n el merecido premio. Pum!游꾽 suena el cohete de salida y comienza la procesi칩n, donde se transladar치 a San Isidro y la virgen hasta su ermita. Anteriormente se llevaba encima de un carro arrastrado por bueyes o vacas, actualmente se remolca con un tractor.
                    p.card-text Comienza la procesi칩n hasta el nacimiento. Todo un espect치culo.
                .imagen.float-right
                    img.img-fluid(src="/img/sanisidro.gif", alt="")
                .texto  
                    p.card-text Llegados a la ermita de nuestro patr칩n, se coge a cuestas a ambas figuras y comienza el baile donde normalmente alguien le canta:
                    p.card-text #[em San Isidro Labrador, que dehumilde sois modelo, confiados en vuestro celo hoy os pedimos un favor. Vuestra fe se pone a prueba al caer vuestro hijo al pozo, y al salvarle en vuestro gozo oraci칩n que al cielo llega. Y si oir misa quere칤s, y la iglesia est치 cerrada, en el cielo celebrada por Jesus cristo la habeis.]
                    p.card-text Es t칤pico coger un lugar en la ma침ana temprano en el nacimiento, llevarse su comida y bebida y pasar el d칤a en familia y con amigos. El nacimiento se transforma en un lugar lleno de ambiente, de sus pueblerinos cantando, tocando la guitarra, divirtiendose y llenandose de felidad.
                    p.card-text El restaurante el Nacimiento, como cada a침o habilita su terraza de verano y su escenario y lo pone a disposici칩n de todos nosotros. Donde se eligir치n la reina rociera y sus damas.
                    p.card-text #[strong 18:00]. A esta hora comienzas los bailes de los cr칤os (normalmente sevillanas rocieras). Seguidos de los adultos y terminando con alguna orquesta.
                    p.card-text Pero la fiesta no termina!, a algunos le anochece y a otros le amanece!.
                