footer.container-fluid
    .row.p-4
        .col-md-8
            .row
                .col-md-4.col-sm-6.mb-5.mb-lg-0
                    h4 Con la colaboraci칩n de:
                    .row
                        .col
                            img(src="/img/pinchoedufooter.png", style="width: 50px", loading="lazy")
                            span  PINCHEDU
                    .row
                        .col
                            img.img-fluid(src="/img/adriano.png", style="width: 50px", loading="lazy")
                            span  Adriano Navarro

                .col-md-4.col-sm-6.mb-5.mb-lg-0
                    h4 Acerca de:
                        .row
                            .col
                                span Proyecto creado para dar la oportunidad a nuestro pueblo de volver a tener su peri칩dico local, con la ayuda de sus pueblerinos.
                .col-md-4.col-sm-6.mb-5.mb-lg-0
                    h4 Contacto
                        .row
                            .col
                                p 쯅ecesitas un app o una web?
                                a(href="mailto:jesusabrilm@gmail.com?subject=M치s%20Informaci칩n%20/%20DeifonAPP") 游닎 Enviar un email

        .col-md-4
            .row
                .col-sm-12
                    h4.text-md-right Todos los Derechos Reservados #{anio}
                    include form
    .row
        .col-12.bg-blanco.copyright
            span.float-left Creado con 游눘 por: #[span Jesus M춹 Abril (El ni침o la Mary y el Saturno)]
            span.float-right S칤gueme en 
                a(href="https://twitter.com/3rChuss") #[i.fab.fa-twitter.fa-lg]
