section#login
    .row.align-item-center.mb-2
        .col
            #loginBox
                if usuario
                    span Bienvenido #{usuario.nombre}
                    ul
                        a(href="/_admin") #[li ⚙️ Panel de Control]
                        a(href="/salir") #[li 🏃🏻 Salir]
                else
                    #loginBtn
                        button.btn.btn-sm.btn-light#btn-login Login
            #loginForm.fadedfx
                form.form-inline(action="/login", method="post", name="signin")
                    .form-group.col-12.justify-content-end
                        label.sr-only(for="email") Correo
                        input.form-control.mb-2#email(type="text" placeholder="tu@correo.com" autocomplete required name="email")
                        label.sr-only(for="passw")
                        input.form-control.mb-2#passw(type="password" autocomplete required placeholder="contraseña" name="passwd")
                        input#recordar(type="checkbox" name="recordarUser")
                        label.form-check-label(for="recordar") Recuérdame 
                        button.btn.btn-sm.btn-primary.float-right(type="Submit") Entrar