#cookies.fadedfx
    p Este sitio web usa cookies propias y de terceros para mejorar la experiencia del usuario, para saber más haga #[a(href="/politica-privacidad") vea la página Política de Privacidad]
        button.btn.btn-warning.btn-sm#btn-cookie-aceptar Aceptar
    .form-group#cookies-opciones
        input#necesarias(type="checkbox", name="necesarias" checked disabled)
        label(for="necesarias") Necesarias
        input#cookies-innecesarias(type="checkbox", name="innecesarias" checked)
        label(for="cookies-innecesarias") Innecesarias