section
    .container-fluid.m-0.p-0.oscuro
        .row.m-0.p-lg-0.pb-4.pb-md-0
            .col-md-4.m-0.p-0
                .carousel(data-ride="carousel")#carouselExampleSlidesOnly
                    .carousel-inner
                        .slider-item.fadeSlider
                                img.d-block.w-100(src='/img/palacio_slider.jpg' alt=`Deifontes turismo, imágenes`)
                        if sliderImgs
                            each img in sliderImgs
                                .slider-item.fadeSlider
                                    img.d-block.w-100(src=`/img/slider/${img}` alt=`Deifontes turismo, imágenes`)
            .col-md-8.my-md-auto
                h1.text-white.slider-text= pagina