link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css', integrity='sha256-CuUPKpitgFmSNQuPDL5cEfPOOJT/+bwUlhfumDJ9CI4=', crossorigin='anonymous')
section
    .container-fluid.p-relative
        .row.m-0.p-0
            .col-sm-12.m-0.p-0
                nav.nav.justify-content-center.mt--10.submenu
                    a.nav-link(href="/deifontes" class=( ruta === '/deifontes' ? 'active' : '') id="deifontes") Información general
                        i.far.fa-clipboard.float-left
                    a.nav-link(href="/deifontes/galeria" class=( ruta === '/deifontes/galeria' ? 'active' : '') id="galeria") Galería de ímaganes
                        i.far.fa-images.float-left
                    a.nav-link(href="/deifontes/historia" class=( ruta === '/deifontes/historia' ? 'active' : '') id="historia") Historia
                        i.fas.fa-history.float-left