extends ../layout/index
block contenido
    main.container-fluid.mt-3.p-0.mb-0.mx-0
        section.container-fluid.bg-blanco.mx-0.px-0
            .row.m-0.p-0.align-items-center
                .col-md-6.col-sm-12.p-0
                    img(src="img/que-ver/Elnacimiento.webp", alt="", class="img-fluid")
                .col-md-6.col-sm-12.p-5
                    h2 El Nacimiento
                    p.card-text 
                        |Es el paraje natural más singular de nuestro pueblo, lleno de encanto por el placer que produce contemplar cómo mana el agua en sus charcas, en borboteo entre la suave arena. Su caudal medio es de 1.000 l/s. Sus charcas están rodeadas de árboles: álamos, catalpas, olmos, mimbres... y cuenta con zonas habilitadas para usar como merendero.

        section.container-fluid.mx-0.px-0
            .row.m-0.p-0.align-items-center
                .col-md-6.col-sm-12.p-5
                    h2 El Palacio de los Marqueses de Casa Blanca
                    p.card-text 
                        |Esta casa-palacio de finales del siglo XIX, es el edificio más representativo del pueblo. Construido por los Condes de Antillón, residencia de verano de su heredera la #[em Marquesa de Casablanca]. En 1.991 fué comprado por el pueblo. Sus jardines están a disposición de cualquiera que desee disfrutar de la paz y armonía que en ellos se respira.

                .col-md-6.col-sm-12.p-0.o-hidden
                    .fotico
                        img(src="img/que-ver/Palacio.webp", alt="", class="img-fluid foto-grande")

        section.container-fluid.bg-blanco.mx-0.px-0
            .row.m-0.p-0.align-items-center
                .col-md-6.col-sm-12.p-0
                    img(src="img/que-ver/Atalaya.webp", alt="", class="img-fluid")
                .col-md-6.col-sm-12.p-5
                    h2 La Atalaya
                    p.card-text 
                        |En #[strong Sierra Arana], a más de 1.150 metros de altitud, a medio camino entre los Deifontes y Cogollos Vega, se alza altanera #[strong Torre Atalaya de Deifontes], una de las fortificaciones de los árabes de mediados del siglo XIV, que formaba parte del sistema defensivo de la frontera del reino nazarí.

        section.container-fluid.mx-0.px-0.que-ver-otros
            .container.my-5.p-3
                .row.justify-content-center
                    .col-sm-6
                        h3 La Hermita de nuestro Patrón - San Isidro
                        p Su ubicación es el lugar más hermoso del pueblo: el nacimiento: un paraje acogedor rodeado de árboles y agua. En ella encontramos las imágenes de San Isidro y la Virgen de Fátima. Se construyó por la promesa que hicieron los vecinos de la localidad si conseguían comprar el pueblo.
                    .col-sm-6
                        img(src="img/que-ver/Hermita-med.webp", alt="Hermita de San Isidro, Deifontes" class="img-fluid")
                .row.mt-4
                    .col-sm-6.m--100
                        img(src="img/que-ver/Iglesia-med.webp", alt="Inglesia de San Martín, Deifontes" class="img-fluid")
                        h3.mt-2 Iglesia de San Martín
                        p Esta iglesia se construyó en el siglo XVII. Su obra comienza en el año 1620. Tiene por patrón al Cristo de la Veracruz y como titular a San Martín, cuya imagen se venera en el altar mayor.
                    .col-sm-6.z-2.bg-white
                        img(src="img/que-ver/presa-med.webp", alt="Presa barcinas, Deifontes" class="img-fluid")
                        h3.mt-2 Presa Barcinas
                        p De construcción romana, aproximadamente entre los siglos I y II a. C., que tenía como misión contener las aguas del río Cubillas. La base de esta presa presenta el almohadillado típico de la arquitectura romana.

                .row
                    .col-md-6.m--100.z-1
                        h2.p-2 Descubre más
                        .row.text-center.justify-content-center
                            .col-5.col-md-5.p-2.m-1.rounded.shadow.bg-light.col-5
                                a(href="deifontes/historia")
                                    img.img-fluid(src="img/historia.jpg", alt="Historia sobre Deifontes")
                                    h2.mt-2 Historia
                            .col-5.col-md-5.p-2.m-1.rounded.shadow.bg-light.col-5
                                a(href="/deifontes/galeria")
                                    img.img-fluid(src="img/sanIsidro.jpg", alt="Galería de imágenes")
                                    h2.mt-2 Galería
                .container-fluid.parallax.foto-drone.m--200